@import "./variables.module.scss";
.LoginWrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 50%;
  margin: 0 auto;
  .img {
    margin-top: 1%;
  }
}

.Input {
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  padding: 10px;
  background: papayawhip;
  border: none;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: white;
  border: black 1px solid;
  width: 15rem;
  margin: 8px;
  border-radius: 5px;
  color: black;
}

.Button {
  font-family: "Lato", sans-serif;
  width: 12rem;
  height: 12%;
  cursor: pointer;
  background: transparent;
  font-size: 16px;
  border-radius: 4px;
  color: #1f1e1e;
  border: 2px solid #1f1e1e;
  margin: 0 1em;
  padding: 0.25em 1em;
  transition: 0.5s all ease-out;
  margin: 30px;
  &:hover {
    background-color: #1f1e1e;
    color: #07fe20;
  }
}

.GameCont {
  background-color: $d;
  color: $a;
  height: 100vh;
}

.ControlsStyles {
  border-top: 1px solid $b;
  clear: both;
  position: relative;
  height: 100px;
  margin-top: 80vh;
}

.ControlsDiv {
  display: flex;
  justify-content: space-around;
  padding: 20px 20px 0 20px;
  color: $c;
}

.HoverText {
  p {
    visibility: hidden;
    position: relative;
    bottom: 70px;
    left: 50px;
    color: $a;
  }
  &:hover {
    p {
      transition: 0.4s;
      visibility: visible;
      position: relative;
      bottom: 55px;
      left: 45px;
    }
  }
}

.RoomInfoStyles {
  border-left: 1px solid $b;
  clear: both;
  position: absolute;
  margin-left: 80vw;
  padding-left: 50px;
  height: 100px;
}

.RoomInfoDiv {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0 20px;
  color: $c;
}

.PusherFeedStyles {
  border-right: 1px solid $b;
  clear: both;
  position: absolute;
  margin-right: 80vw;
  height: 100px;
}

.PusherFeedDiv {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0 20px;
  color: $c;
}
